aiohttp==3.10.8
beautifulsoup4==4.12.3
faiss-cpu==1.8.0.post1
fastapi==0.115.0
huggingface-hub==0.25.1
langchain==0.3.2
langchain-community==0.3.1
langchain-openai==0.2.1
nltk==3.9.1
openai==1.51.0
pandas==2.2.3
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.5.2
sentence-transformers==3.1.1
sqlalchemy==2.0.35
tiktoken==0.8.0
torch==2.4.1
transformers==4.45.2
unstructured==0.15.13
uvicorn==0.31.0
ragas==0.2.7
datasets==3.1.0
